# 虚拟环境
.venv/
env/
venv/

# 模型权重文件
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

# 合并后的模型目录
merged_experts/
merged_ties_v2/
merged_task_arith/
merged_slerp_025/
merged_slerp_075/
base_with_code_tokenizer/
math_expert_with_code_tokenizer/
merged_task_arith_surgeon/
merged_ties_corrected/
merged_ties_new_base/
merged_slerp_05/
merged_slerp_025_surgeon/
merged_slerp_075_surgeon/

# Python 缓存
__pycache__/
*.pyc
*.pyo


# IDE 配置
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# Hugging Face 缓存
hf_cache/

.autodl/
*.zip

# EMR模型权重与检查点、数据集、原项目日志文件，调试文件
EMR_Merging/merge_vit/checkpoints.tar.gz
EMR_Merging/merge_vit/data
EMR_Merging/merge_vit/logs/
EMR_Merging/merge_vit/src/home/emr-merging/data/
EMR_Merging/merge_vit/src/home/emr-merging/checkpoints/
EMR_Merging/merge_vit/debug_load.py

# 合并模型目录
EMR_Merging/*/checkpoints/
EMR_Merging/*/ckpts/
EMR_Merging/merge_lm/data/
